<html>

<head>
    <title>Betting Boys</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="./style.css">
</head>

<body>

<div id="vue-app">
    <h1>Betting Boys</h1>

    <h2 v-if="!loading" v-cloak>Total: <span class="grandTotal">{{ grandTotal }}</span></h2>

    <p v-if="loading" class="spinner">
        <i class="fa fa-money fa-spin fa-5x fa-fw"></i>
        <span class="sr-only">Loading...</span>
    </p>

    <div v-if="!loading" v-cloak class="miTable">
        <div class="boyRow" v-for="boy in resolvedContract.boys">
            <div class="boyName">{{ boy.name }}</div>
            <div class="month">{{ boy.month }}</div>
            <div class="total"
                 v-bind:class="{ 'pos': boy.total > 0, 'neut': boy.total === 0, 'tbc': boy.total === -1 }">
                {{ boy.total }}
            </div>
        </div>
    </div>
</div>

<script src="https://use.fontawesome.com/e88a1894a6.js" type="text/javascript"></script>

<script src="https://cdn.ethers.io/scripts/ethers-v2.0.min.js" type="text/javascript"></script>

<script src="https://unpkg.com/vue/dist/vue.js" type="text/javascript"></script>
<script src="https://gstatic.com/firebasejs/4.0.0/firebase.js" type="text/javascript"></script>
<script src="https://unpkg.com/vuefire/dist/vuefire.js" type="text/javascript"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bluebird/3.5.1/bluebird.core.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.js" type="text/javascript"></script>

<script>
    /* global Vue, firebase, ethers, _, Promise */
    var provider = new ethers.providers.InfuraProvider('ropsten');

    var config = {
        apiKey: "AIzaSyCxxAe_V_G4KH60eHR79H-DVmX4sswwbB8",
        authDomain: "betting-boys.firebaseapp.com",
        databaseURL: "https://betting-boys.firebaseio.com",
        projectId: "betting-boys",
        storageBucket: "betting-boys.appspot.com",
        messagingSenderId: "394601607248"
    };

    var db = firebase.initializeApp(config).database();

    new Vue({
        el: '#vue-app',
        data: {
            loading: true,
            resolvedContract: undefined,
            grandTotal: undefined
        },
        firebase: {
            contracts: {
                source: db.ref('contracts'),
                readyCallback: function (snapshot) {
                    var that = this;

                    console.log('loaded contracts ref...');
                    console.log(snapshot.val());

                    this.resolvedContract = snapshot.val();

                    console.log('Instantiating contract at ' + this.resolvedContract.contract);
                    console.log('Contract ABI ' + this.resolvedContract.abi);

                    var contract = new ethers.Contract(this.resolvedContract.contract, this.resolvedContract.abi, provider);
                    console.log(contract);

                    contract.owner().then(function (result) {
                        console.log('Owner ' + result[0]);
                    });

                    var callPromises = [];
                    this.resolvedContract.boys.forEach(function (entity) {
                        console.log(entity);
                        callPromises.push(contract.readEntry(ethers.utils.toUtf8Bytes(entity['initials'])));
                    });

                    console.log(this.resolvedContract.boys);

                    Promise.all(callPromises).then(function(callResults) {
                        _.forEach(callResults, function (callRes) {
                            var total = parseInt(callRes[1].toString());
                            var initials = ethers.utils.toUtf8String(callRes[0].toString());

                            if (total !== 0) {
                                var boyObj = _.find(that.resolvedContract.boys, function (boy) {
                                    return boy.initials === initials
                                });
                                boyObj.total = total;
                            }
                        });

                        that.grandTotal = _.reduce(that.resolvedContract.boys, function(sum, n) {
                            if (n.total < 0) {
                                return sum;
                            }
                            return sum + n.total
                        }, 0);

                        that.loading = false;
                    });
                }
            }
        }
    })
</script>

</body>

</html>